@charset "utf-8";

/* CSS Document */
#apw-authors a{
    color: #6FA5DB;
    line-height: 16px;
    text-decoration: none;	
}
#apw-authors div a.apw-parent{
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 16px;
	line-height:22px;
	cursor:pointer;
	box-shadow:none;
	text-decoration:none;	
}
#apw-authors div a.apw-parent:hover{
	text-decoration:underline;
}
#apw-authors div > img{
	height:20px;
	width:auto;
	position:relative;
	top:0px;
	float:right;
}
#apw-authors div.apw-closed a.apw-parent{
    background-image: url("../images/black-minus.png");
}
#apw-authors div a.apw-parent span{
	color: #989898;
}
#apw-authors div.apw-opened a.apw-parent{
    background-image: url("../images/black-plus.png");
}
#apw-authors div ul{
	margin-left:16px;
}
#apw-authors div.apw-opened ul{
	display:block;
}
#apw-authors div.apw-closed ul{
	display:none;
}